body
  font-family: "proxima-nova", "omnes-pro", sans-serif

.header
  height: 50px
  line-height: 50px

  .pure-menu
    background: none repeat scroll 0% 0% #2D3E50
    position: fixed
    height: inherit

  .pure-menu-heading
    color: white
    font-size: 20px

.sidebar
  bottom: 0px
  height: 100%
  margin-top: 50px
  z-index: 1
  background: #252A3A
  position: fixed
  width: 150px

  nav, ul
    background: inherit

  .pure-menu
    background: inherit
    border: none
    margin-top: 75px

  a
    color: white

  .pure-menu-selected
    background: #1F8DD6

main
  margin-left: 150px
  padding-left: 25px
