<div v-modal="createPatientForm">
  <header class="modal-heading">
    <h1>Create Patient</h1>
    <a href="#" class="modal-close" v-on="click: hideModal">x</a>
  </header>

  <form class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label class="required" for="name">Full Name</label>
        <input v-model="patient.name" v-input-validate="namePattern: patient.name" id="name" placeholder="Lastname, First M" type="text"></input>
      </div>

      <div class="pure-control-group">
        <label class="required" for="birthdate">Birthdate</label>
        <input v-model="patient.birthdate" v-input-validate="validateBirthdate: patient.birthdate" data-errormessage="Ensure date input is in the past" id="birthdate" placeholder="Jan 1, 1985" type="text">
      </div>

      <div class="pure-control-group">
        <label class="required" for="main_contact">Main Contact No.</label>
        <input v-model="patient.main_contact" v-input-validate="mobilePattern: patient.main_contact" id="main_contact" placeholder="0915-900-9000" type="text">
      </div>

      <div class="pure-control-group">
        <label for="mobile_no">Mobile No.</label>
        <input v-model="patient.mobile_no" v-input-validate="mobilePattern: patient.mobile_no" id="mobile_no" placeholder="0915-900-9000" type="text">
      </div>

      <div class="pure-control-group">
        <label for="landline">Landline No.</label>
        <input v-model="patient.landline" v-input-validate="landlinePattern: patient.landline" id="landline" placeholder="222-2222" type="text">
      </div>

      <div class="pure-control-group">
        <label for="email">Email</label>
        <input v-model="email" id="patient.email" v-input-validate="emailPattern: patient.email" placeholder="john@doe.com" type="email">
      </div>

      <div class="pure-control-group">
        <label for="home_address">Home Address</label>
        <textarea v-model="patient.home_address" id="home_address" placeholder="#10 1st Street, Matina, Davao City"></textarea>
      </div>

      <div class="pure-control-group">
        <label class="required">Gender</label>
        <label for="gender-male" class="pure-radio form-align-action">
          <input v-model="patient.gender" id="gender-male" type="radio" name="gender" value="male">
          Male
        </label>

        <label for="gender-female" class="pure-radio form-align-action">
          <input v-model="patient.gender" id="gender-female" type="radio" name="gender" value="female">
          Female
        </label>
      </div>

      <div class="form-controls">
        <button v-on="click: createPatient" type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
