<header class="page-heading">
  <h1>Patients</h1>
  <a href="/patients/new" class="pure-button pure-button-primary">Create Patient</a>
</header>

<table v-show="patients" class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Name</th>
      <th>Main Contact #</th>
      <th>Birthdate</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr v-repeat="patients">
      <td>{{name}}</td>
      <td>{{main_contact}}</td>
      <td>{{birthdate}}</td>
      <td>
        <a href="#" class="pure-button">Profile</a>
        <a href="#" class="pure-button">Treatments</a>
        <a href="#" class="pure-button">Appointments</a>
      </td>
    </tr>
  </tbody>
</table>

<p v-show="!patients">You have not created any patient records. Click on the 'Create Patient' button at the top right to create one.</p>

<patient-form></patient-form>
